pandas
numpy
scikit-learn
PyMuPDF
pdfplumber
transformers
datasets
evaluate
rouge_score
bert-score
accelerate
sentencepiece
torch
sentence-transformers
faiss-cpu
streamlit
matplotlib
textstat
nltk
spacy
jupyter
ipykernel
pytest
python-dotenv
python-docx
